@model  List<Room>

@{
    ViewData["Title"] = "Avalible now";
}
<h2>Avalible now</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Seats
            </th>
            <th>
               Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    if (item.Seats == UserBooking.seats)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) ₽
            </td>
            <td>
                <a asp-action="DetailsOfRoom" asp-route-Id="@item.Id"><button type="button" class="btn btn-success animate__animated animate__pulse">Перейти</button></a>
            </td>
        </tr>
    }
}
    </tbody>
</table>